.object-property
  .form-group
    span.label {
    label.sr-only Key
    input.form-control(value=key, placeholder='Key', name='key')
    span.label :
  .form-group
    label.sr-only Value
    input.form-control(value=value, placeholder='Value', name='value')
    span.label }
