#instructions
  p Navigate map with SPACEBAR + LEFT_MOUSE
  p Add to selection with SHIFT
  p Delete selection with DELETE or BACKSPACE
  p Snap entity to grid with by dragging and holding G
  p Create new group from selection ALT + G
  br
  p * Replace CNTRL with CMD on OSX.
  br
  br
  p You are using version #{version} of PhaserLE.
