#settings
  .accordion
    h2 Level Settings
    div
      .form-group
        label.col-sm-6.control-label Level Width (px)
        .col-sm-6
          input.form-control(placeholder='720', name='level-width', id='level-width')
      .form-group
          label.col-sm-6.control-label Level Height (px)
          .col-sm-6
            input.form-control(placeholder='480', name='level-height', id='level-height')
      .form-group
          label.col-sm-6.control-label Background Colour
          .col-sm-6
            input.form-control(placeholder='#000000', name='backgroundColour', id='backgroundColour')
