.form-control
  box-shadow inset 0px 0px 7px 3px rgba(24, 24, 24, 0.48)
  border-radius 13px
  height 28px
  font-weight bold
  letter-spacing 0.5px

.form-horizontal .control-label
  padding-top 4px

.accordion
  h2
    border none
    background-color transparent
    background transparent

  h2:focus
    outline 0

  .ui-accordion-content
    background-color transparent
    background transparent
    border none
    color inherit

  .collision-container.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active,
  .form-inline.property-container.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active
    padding 0 0.9em

  &.ui-accordion-header
    padding 0

.ui-autocomplete
  max-height 300px
  overflow-y auto
  overflow-x hidden

ul
  &.ui-widget-content
    background transparent

  &.ui-autocomplete
    background-color #282b2d
    color #aeaeae
    border none
    border-radius 4px

  li
    font-size 14px
    font-weight bold

    &.ui-state-focus.ui-menu-item
      border none
      background transparent
      margin inherit
